
body {
    -webkit-text-size-adjust: 100%;
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}
.container {
    padding: 0 15px;
}
.group {
    margin: 15px 0 0;
}
.group-list {
    padding: 10px;
    border: 1px solid #757575;
    min-width: 100px;
    min-height: 50px;
}
.group-list img {
    padding: 10px;
}
.theme-headline {
    font-size: 32px;
    line-height: 1.5;
    margin: 15px;
}
